{% extends 'article/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header">
			Категория: <a href='{{ object.category.get_absolute_url }}'>{{ object.category }}</a>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ object.title }}</h5>
			<p>
				{% if object.image %}
					<img class="img-thumbnail" src="{{ object.image.url }}" width="500">
				{% endif %}
			</p>
			<p>
				{{ object.content|safe }}
			</p>
			{% if object.tags.all %}
				<div class="container-fluid">
					{% for tag in object.tags.all %}
						<span class="badge rounded-pill text-bg-primary"><a class="list-group-item list-group-item-action" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="card-footer">Опубликовано: {{ object.created_at|date:"d.m.Y" }}, Автор: {{ object.author }}</div>
	</div>
{% endblock %}
