<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	{% include 'article/inc/_topmenu.html' %}
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="sidebar col-md-3">
				{% include 'article/inc/_menu.html' %}
				<br>
				{% include 'article/inc/_popular.html' %}
				<br>
				{% include 'article/inc/_tags.html' %}
			</div>
			<div class="content  col-md-9">
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'error' %}
							<div class="alert alert-danger" role="alert">
								{{ message }}
							</div>
						{% else %}
							<div class="alert alert-{{ message.tags }}" role="alert">
								{{ message }}
							</div>
						{% endif %}
					{% endfor%}
				{% endif%}
				{% block content %}

				{% endblock %}
				{% include 'article/inc/_pagination.html' %}
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
